{% load  static %}
<!DOCTYPE html>
<html lang="en">
<title>Admin Panel</title>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/admin panel/util.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/admin panel/main.css' %}"/>
    <meta name="robots" content="noindex, follow"/>
</head>
<body>
<button onclick="window.location='{% url 'admin-logout' %}'"
        class="ml-3 mt-2 btn btn-outline-danger">Logout
</button>
<div class="limiter">
    <div class="container-table100">
        <div class="wrap-table100">
            <div class="ml-1">
                <div class="col-6">
                    <form method="GET">
                        <label>Sort By: </label>
                        <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="sort_by">
                            <option value="date">Date</option>
                            <option value="time">Time</option>
                            <option value="number_of_people">Number of People</option>
                        </select>
                        <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="order_by">
                            <option value="inc">Increasing</option>
                            <option value="dec">Decreasing</option>
                        </select>
                        <button class="btn btn-outline-primary btn-sm" type="submit">Sort</button>
                    </form>
                </div>
                <div class="col-6">
                    <form method="GET" action="{% url 'admin-panel' %}">
                        <input class="form-control" type="text" name="q"
                               placeholder="Search for name or email and hit Enter"/>
                        <button onclick="window.location='{% url 'admin-panel' %}'"
                                class="mt-1 mb-1 btn btn-outline-primary btn-sm">All ({{ reserves | length }}) / Refresh
                        </button>
                    </form>
                </div>
            </div>
            <div class="table100 ver1 m-b-110">
                <div class="table100-head">
                    <table>
                        <thead>
                        <tr class="row100 head">
                            <th class="cell100 column1">Email</th>
                            <th class="cell100 column2">Name</th>
                            <th class="cell100 column3">Date</th>
                            <th class="cell100 column4">Time</th>
                            <th class="cell100 column5">No. of People</th>
                            <th class="cell100 column6">Action</th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div class="table100-body">
                    <table>
                        <tbody>
                        {% for reserve in reserves %}
                            <tr class="row100 body">
                                <td class="cell100 column1">{{ reserve.email }}</td>
                                <td class="cell100 column2">{{ reserve.name }}</td>
                                <td class="cell100 column3">{{ reserve.date }}</td>
                                <td class="cell100 column4">{{ reserve.time|time:"h:i A" }}</td>
                                <td class="cell100 column5">{{ reserve.number_of_people }}</td>
                                {% now 'Y-m-d' as today %}
                                {% if reserve.date|date:"Y-m-d" < today %}
                                    <td class="cell100 column6">
                                        <button onclick="window.location='{% url 'delete-reservation' reserve.id %}'"
                                                class="btn btn-outline-danger">Delete
                                        </button>
                                    </td>
                                {% else %}
                                    <td class="cell100 column6">
                                        <button class="btn btn-outline-secondary" disabled>Delete</button>
                                    </td>
                                {% endif %}

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<!-- Mirrored from colorlib.com/etc/tb/Table_Fixed_Header/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 01 Mar 2024 07:04:45 GMT -->
</html>
