{% extends 'main.html' %}
{% block content %}
    <!-- Page Header Start -->
    <div class="container-fluid page-header mb-5 position-relative overlay-bottom">
        <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5"
             style="min-height: 400px">
            <h1 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase">Reservation</h1>
            <div class="d-inline-flex mb-lg-5">
                <p class="m-0 text-white"><a class="text-white" href="">Home</a></p>
                <p class="m-0 text-white px-2">/</p>
                <p class="m-0 text-white">Reservation</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->
    <div class=" d-flex justify-content-center">
        <div>
            <h1> Your reservation was made, See you soon!</h1>
            <div class=" text-center">
                <h5>Here are the details: </h5>
                <label>Name: </label>
                {{ reserves.name }}
                <br>
                <label>Time: </label> {{ reserves.time }}
                <br>
                <label>Date: </label> {{ reserves.date }}
                <br>
                <label>Number of people: </label> {{ reserves.number_of_people }}
            </div>
        </div>
    </div>


{% endblock %}